/*Affects the entire Page to fit the user screen*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Targets the entire code*/

html{
  background-color: #f7f7e8;
  padding: 0;
  margin: 0;
}

/*Styles the Title*/
header h1{
  padding: 20px 0;
}

/*Styles the page links*/
a{
  color: black;
  text-decoration: none;
}

/*Changes color when hovered*/
li > a:hover{
  transition: 0.3s;
  color: #ec4646
}

/*Styles the links layout*/
ul{
  list-style: none;
  color: #1e212d;
  padding:5px;
  margin-bottom: 20px;
}

/*Styles the heading div above the imageSlider*/
.heading{
  text-align: center;
  font-family: 'Sansita Swashed', cursive;
  font-style:normal;
  font-weight: bold;
  font-size: 300%;
  padding: 30px 20px 30px 20px;
  white-space: pre-wrap;
}

/*Styles the heading above the imageSlider*/
h1{
  font-family: 'Sansita Swashed', cursive;
  font-weight: bold;
}

/*Styles the paragraph div under imageSlider*/
.paragraph{
  padding: 40px;
  word-spacing: 3px;
  line-height: 2;
}

/*Styles the Paragraph under imageSlider*/
.paragraph p{
  font-size: 20px;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
}

/*Styles the Picture div under the paragraph*/
.pic1{
  padding: 0px;
  margin-left: 10px;
  width: 55%;
  float: left;
}

/*Styles the picture in the div*/
.pic1 img{
  width: 55%;
  padding-top: 15%;
  padding-left: 10%;
}

/*Styles the drop cap of the first description*/
.para1 p:first-of-type{
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  padding-top: 9%;
}

/*Styles the 2nd picture div*/
.pic2{
  padding: 0px;
  margin-left: 10px;
  width: 55%;
  float: right;
}

/*Styles the 2nd picture in the div*/
.pic2 img{
  padding-top: 17%;
  margin-left: 35%;
  width: 55%;
}

/*Styles the drop cap of the 2nd description*/
.para2 p:last-of-type{
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  left: 20%;
  padding-top: 20%;
  padding-left: 55px;
}

/*Styles the Highlights heading above highlight images */
.h2{
  font-family: "Montserrat",cursive;
  font-weight: bold;
  padding-top: 15%;
  text-decoration: underline;
  text-align: center;
  font-size: 26px;
}

/*Styles the first letters to make drop caps */
.paragraph p:first-letter,.Party p::first-letter {
  font-size: 5rem;
  float: left;
  line-height: 0.65;
  margin: 0.1em 0.1em 0.2em 0;
}

/*Styles the party event paragraph under the Highlights*/
.Party p{
  text-align: center;
  padding: 50px;
  font-size: 21px;
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  word-spacing: 2px;
  line-height: 1.7;
}

/*Styles the party event Heading under the Highlights*/
.Party h2{
  font-size: 30px;
  text-align: center;
  font-family: 'Montserrat',cursive;
  font-weight: bold;
}

/*Styles the party event picture div*/
.party-pic{
  text-align: center;
  padding: 10px 0 25px 0;
}

/*targets the party event picture inside the party img div*/
.Party > .party-pic img{
  width: 50%;
  border-radius: 10px;
  background-origin: padding-box;
}

/*Target both cta's (under header,above footer)*/
.button,.button-q{
  font-family: 'Sansita Swashed',cursive;
  padding-top:10px;
  text-align: right;
}

/*Targets the 2nd div(cta) under party event image*/
.button-2{
  text-align: center;
  margin: auto 0;
  line-height: 20px;
  vertical-align: middle;
  padding :20px;
}

/*Targets the 2nd cta under party event image*/
.button-2 a{
  padding:10px;
  border-radius: 50px;
  background-color:rgba(150, 187, 124, 0.7);
  text-decoration: none;
  font-family: 'Sansita Swashed',cursive;
  font-size: 13px;
  transition: ease-out 0.3s;
  vertical-align: middle;
}

/*Targets the div(cta) under party event image*/
.button a{
  padding: 7px 30px;
  border-radius: 50px;
  background-color:rgba(150, 187, 124, 0.7);
  text-decoration: none;
  font-family: 'Sansita Swashed',cursive;
  font-size: 13px;
  transition: ease-out 0.3s;
}

/*Targets both cta's to have hover effects*/
.button a:hover,.button-2 a:hover{
  background-color:rgba(0, 145, 124, 0.7);
}

/*Targets both cta's to glow blue when clicked*/
.button a:focus,.button-2 a:focus{
  color: blue;
}

/*Styling for smaller screen sizes*/
/*Styling for under 1230px screens*/
@media screen and (max-width:1230px){
  .para2 p:first-of-type{
    font-size: 195%;
  }
  .h2 h2{
    font-size:22px;

  }
  .heading{
    font-size: 45px;
  }
}

/*Styling for under 1080px screens*/
@media screen and (max-width:1080px) {
.para1 p:first-of-type{
  font-size: 25px;
}
.para2 p:first-of-type{
  font-size: 25px;
}
.h2 h2{
    font-size:18px;
  }
  .heading{
    font-size: 35px;
  }
  .paragraph p{
  font-size:18px;
}
.paragraph p:first-letter,.Party p::first-letter {
  font-size:4rem;
  margin: 0 0.1rem 0 0;
  line-height:0.9;
}
.Party h2{
  font-size: 25px;
  font-family:'Montserrat',sans-serif;
  font-weight: bold;
  text-decoration:underline
}
}

/*Styling for under 770px screens*/
@media screen and (max-width:770px) {
.para1 p:first-of-type{
  font-size: 19px;
}
.para2 p:first-of-type{
  font-size: 115%;
}
.button-2 button{
  width:200px;
  font-size: 17px;
}
.h2 h2{
    font-size:15px;

  }
 .button-q{
  font-size: 12.5px;
}
.button a{
  font-size: 10px;
}
  .heading{
    font-size: 28px;
  }
.footer{
  text-align: left;
  width: 80%;
  margin-left: 4.5%;
}
h2{
  margin:1.2rem 0rem 1.2rem 0rem;
}
  .paragraph p:first-letter,.Party p::first-letter {
  font-size:3rem;
  margin: 0 0.1rem 0 0;
  line-height:1;
}
  .paragraph p{
  font-size:14px;
}

}

/*Styling for under 600px screens*/
@media screen and (max-width:600px) {
.para1 p:first-of-type{
  font-size: 15px;
}
.para2 p:first-of-type{
  font-size: 100%;
}
.h2 h2{
    font-size:13px;
    margin-top: 10px;
  }

.button-2 a{
 font-size: 11px;
}
.button-2{
  padding: 13px;
}
  .Party h2{
  font-size: 20px;
  font-family:'Montserrat',sans-serif;
  font-weight: bold;
  text-decoration:underline
}
.Party p{
  font-size: 18px;
  padding: 20px;
}
  .heading{
    font-size: 25px;
  }
}

/*Styling for under 480px screens*/
@media screen and (max-width:480px) {
.para1 p:first-of-type{
  font-size: 10px;
}
.para2 p:first-of-type{
  font-size: 10px;
}
 .button-q{
  font-size: 10px;
}
.button a{
  font-size: 8px;
}
.h2 h2{
  font-size: 12px;
}
.heading{
  font-size: 22px;
}
.paragraph p{
  font-size:10px;
}
.paragraph{
  padding: 20px;
}
 .paragraph p:first-letter,.Party p::first-letter {
  font-size:2.5rem;
  margin: 0 0.1rem 0 0;
  line-height:1;
}
  .Party h2{
  font-size: 16px;
  font-family:'Montserrat',sans-serif;
  font-weight: bold;
  text-decoration:underline;
}
.Party p{
  font-size: 12px;
  padding: 20px;
}
.button-2 a{
 font-size: 10px;
}
